- 구현: 2108
- 이분 탐색: 2512
- 문자열: 4949
- 시뮬레이션: 2947
- DFS/BFS: 2606

## 2108

In [2]:
# input
n = int(input())
num_list = []
for _ in range(n):
    num_list.append(int(input()))

5
1
3
8
-2
2

In [3]:
import numpy as np
from collections import Counter

In [4]:
num_list.sort()
cnt = Counter(num_list).most_common(2)

In [6]:
cnt

[(-2, 1), (1, 1)]

In [5]:
# 산술평균
print(round(np.mean(num_list)))
# 중앙값
print(round(np.median(num_list)))
# 최빈값
if len(num_list) > 1:
    if cnt[0][1] == cnt[1][1]:
        print(cnt[1][0])
    else:
        print(cnt[0][0])
else:
    print(cnt[0][0])
 # 범위   
print(max(num_list) - min(num_list))

1
10

In [ ]:
# output
# 산술평균
print(round(np.mean(num_list)))
# 중앙값
print(round(np.median(num_list)))
# 최빈값
num_list.sort()
print(num_list)
# 범위
print()

4000
4000
[4000]

## 2512

In [7]:
# input
n = int(input())
budget = list(map(int, input().split()))
m = int(input())

4
120 110 140 150
485

In [19]:
left = 0
right = max(budget)
result = 0

while right >= left:
    mid = (left + right) // 2
    answer = 0
    for b in budget:
        if b > mid:
            answer += mid
        else:
            answer += b

    # answer: 내가 책정한 총 예산, m: 최대 예산
    if answer > m:
        right = mid - 1
    else:
        left = mid + 1
        result = max(result, answer)
print(right)

127

## 4949

In [21]:
while True:
    bracket = input()
    if bracket == ".": # 종료
        break
    stack = []
    answer = True # 짝을 이루지 않는 경우
    
    for j in bracket:
        if j == "(" or j == "[":
            stack.append(j)
        
        elif j == ")":
            if len(stack) == 0:
                answer = False
                break
            if stack[-1] == "(":
                stack.pop()
            else:
                answer = False
                break
                
        elif j == "]":
            if len(stack) == 0:
                answer = False
                break
            if stack[-1] == "[":
                stack.pop()
            else:
                answer = False
                break

    if answer and not stack:
        print("yes")
    else:
        print("no")

So when I die (the [first] I will see in (heaven) is a score list).
yes
[ first in ] ( first out ).
yes
Half Moon tonight (At least it is better than no Moon at all].
no
A rope may form )( a trail in a maze.
no
Help( I[m being held prisoner in a fortune cookie factory)].
no
([ (([( [ ] ) ( ) (( ))] )) ]).
yes
 .
yes
.

##2947

In [22]:
n = input().split()
n

2 3 4 5 1

['2', '3', '4', '5', '1']

In [24]:
n = input().split()
for i in range(len(n)):
    for j in range(len(n)-1):
        if n[j] > n[j+1]:
            n[j], n[j+1] = n[j+1], n[j]
            print(''.join(n))

2 3 4 5 1
23415
23145
21345
12345

## 2606

In [26]:
N = int(input()) 
P = int(input()) 
graph = [[0]*(N+1) 
for _ in range(N+1)] 
done = [] # visited

for _ in range(P): 
    x, y = map(int, input().split()) 
    graph[x][y], graph[y][x] = 1, 1 

def dfs(v): 
    done.append(v) 
    for k in range(1, N+1): # 1 ~ n번까지 
        if (k not in done) and (graph[v][k] == 1): 
            dfs(k) 
    return (len(done) - 1) # 1번을 제외한 컴퓨터 수 
    
    
print(dfs(1))

7
6
1 2
2 3
1 5
5 2
5 6
4 7

In [27]:
print(dfs(1))

4